# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Sql</li>
</ol>

<b> Objectives: </b>

<ul>
<li>Create a Jupyter Notebook</li>
<li>Insert code and markdown cells</li>
<li>Share your notebook through GitHub</li>
<li>List popular languages for Data Science</li>
</ul>

<table style="width:20%">
<tr>
<th>Data Science Tools</th>
</tr>

<tr>
<td>Jupyter</td>
</tr>

<tr>
<td>RStudio</td>
</tr>

<tr>
<td>Spyder</td>
</tr>

</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

<h2> Author </h2>
Joaqu√≠n Pelayo Bedia